#{extends 'UserAdminMain.html' /}
#{set title:'网站后台'/}
<script>
var status=${status};
var userType=${userInfo.userType};
//console.log(status);
//console.log(userType);
$(document).ready(function(e) {
	getDatas(status,1,5);
});
function getDatas(status,page,length){
	$.ajax({
		type:'POST',
		url:'/UserAdmin/tasksJson?status='+status+'&page='+page+'&length='+length+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			////console.log(result);
			var list=result.list;
			var listStr='<div class="adminListRowTop">';
			listStr+='<div class="adminListCellTop300">任务名称</div>';
			listStr+='<div class=adminListCellTopEnd>操作</div>';
			listStr+='</div>';
			for(var i=0;i<list.length;i++){
				//console.log(list[i]);
				var task=list[i];
				var row='';
				row+='<div class="adminListCell300">'+task.name+'</div>';
				row+='<div class="adminListCellEnd">';
				row+='<a href="/UserAdmin/taskView?id='+task.id+'">查看</a>';
				if(userType<3){
					row+='&nbsp;<a href="/UserAdmin/task?id='+task.id+'">编辑</a>';
				}
				row+='</div>';
				listStr+='<div class="adminListRow">'+row+'</div>';
			}
			$("#list").html(listStr);
			//
			var total=result.total;
			var length=result.length;
			var page=result.page;
			var pages='记录数:'+total+'&nbsp;分页:';
			////console.log(total/length);
			for(var i=1;i<total/length+1;i++){
				if(i!=page){
					pages+='&nbsp;<a href="#" onclick="javascript:getDatas('+status+','+i+','+length+');">'+i+'</a>&nbsp;';
				}else{
					pages+='['+i+']';
				}
			}
			$("#pages").html(pages);
		}
	});
}

function goAdd(){
	window.location.href='/UserAdmin/task?id=0';
}
</script>

<div id="add" class="adminAddCon">
<button onclick="javascript:goAdd();" class="adminAddBtn">添加</button>
</div>

<div id="list" class="adminListCon">
</div>

<div id="pages" class="adminPages">
</div>

