#{extends 'UserAdminMain.html' /}
#{set title:'网站后台'/}
<script>
var id=${id};
var status=1;
var isComment='${userInfo.isComment}';
var userType=${userInfo.userType};
var msg='${msg}';
//console.log('id:',id);
$(document).ready(function(e) {
	getData(id);
	getTaskLogsDatas(id,1,5);
	if(msg!=null&&msg!=''){
		$("#tips").html(msg);
	}
});
function getData(id){
	$.ajax({
		type:'POST',
		url:'/UserAdmin/taskJson?id='+id+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log(result);
			var task=result.task;
			$("#name").html(task.name);
			$("#des").html(task.des);
			//$("#image").html(task.image);
			$("#status").val(task.status);
			if(task.status!=4&&userType!=3){
				$("#updateStatus").attr("class","adminViewUpdateStatusLable");
				$("#addTaskLog").attr("class","adminEditCon");
			}
			if(userType==3&&isComment=='1'&&task.status==4){
				$("#addTaskLog").attr("class","adminEditCon");
			}
			$("#statusView").html($("#status").find("option:selected").text());
			status=task.status;
		}
	});
}


function getTaskLogsDatas(taskId,page,length){
	$.ajax({
		type:'POST',
		url:'/UserAdmin/taskLogsJson?taskId='+taskId+'&page='+page+'&length='+length+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			////console.log(result);
			var list=result.list;
			var listStr='';
			for(var i=0;i<list.length;i++){
				//console.log(list[i]);
				var taskLog=list[i];
				var row='';
				row+='<div class="adminViewRow">';
				if(taskLog.cont!=null&&taskLog.cont.indexOf("更改任务状态为:")!=-1){
					row+='<div class="adminViewTaskLogContChangeStatus">'+taskLog.cont+'</div>';
				}else{
					row+='<div class="adminViewTaskLogCont">'+taskLog.cont+'</div>';
				}
				row+='</div>';
				var filesStr='';
				if(taskLog.files!=null&&taskLog.files.indexOf("|")!=-1){
					var filesArr=taskLog.files.split("|");
					for(var k=0;k<filesArr.length;k++){
						var fileStr=filesArr[k];
						if(fileStr.indexOf("-")!=-1){
							var fileArr=fileStr.split("-");
							if(fileArr.length==2){
								filesStr+='<a href="'+fileArr[1]+'" target=_blank">'+fileArr[0]+'</a>&nbsp;&nbsp;';
							}
						}
					}
				}else{
					if(taskLog.files!=null&&taskLog.files.indexOf("-")!=-1){
						var fileArr=taskLog.files.split("-");
						if(fileArr.length==2){
							filesStr='<a href="'+fileArr[1]+'" target=_blank">'+fileArr[0]+'</a>';
						}
					}
				}
				
				if(filesStr!=''){
					row+='<div class="adminViewRow">';
					row+='<div class="adminViewTaskLogCont"><img src="/public/images/taskClient/file_rar.gif" width="20" height="20">附件:&nbsp;'+filesStr+'</div>';
					row+='</div>';
				}
				row+='<div class="adminViewRowTimeName">';
				row+='<div class="adminViewTaskLogTime">'+formatTime(taskLog.time)+'</div><div class="adminViewTaskLogUserName" id="taskLogUserName'+taskLog.id+'">...</div>';
				row+='</div>';
				row+='<div class="adminViewRowLine"></div>';
				listStr+=row;
				getUserData(taskLog.id,taskLog.userId);
			}
			$("#list").html(listStr);
			//
			var total=result.total;
			var length=result.length;
			var page=result.page;
			var pages='记录数:'+total+'&nbsp;分页:';
			////console.log(total/length);
			for(var i=1;i<total/length+1;i++){
				if(i!=page){
					pages+='<a href="#" onclick="javascript:getTaskLogsDatas('+id+','+i+','+length+');">'+i+'</a>&nbsp;';
				}else{
					pages+='<span class="current">'+i+'</span>';
				}
			}
			$("#pages").html(pages);
		}
	});
}

function getUserData(logId,userId){
	$.ajax({
		type:'POST',
		url:'/UserAdmin/userJson?id='+userId+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log(result);
			var user=result.user;
			$("#taskLogUserName"+logId).html(user.name);
		}
	});
}

function save(){
	//console.log('save,id:',id);
	var cont=$("#cont").val();
	if(cont==''){
		alert('处理不能为空!');
		return false;
	}
	$("#formA").submit();
	/* var taskId=id;
	var cont=$("#cont").val();
	var files=$("#files").val();
	$.ajax({
		type:"POST",
		url:'/UserAdmin/taskLogSaveJson?nd='+new Date().getTime(),
		data:{'taskId':taskId,'cont':cont,'files':files},
		success:function(result){
			////console.log(result);
			//document.getElementById('tips').innerHTML=result.msg;
			window.location.href='/UserAdmin/taskView?id='+id;
		}
	}); */
}

function goBack(){
	window.location.href='/UserAdmin/tasks?taskGroupId=${taskGroupId}&status='+status;
}

function formatTime(cellvalue){
	var d=new Date(cellvalue);
	return d.format('yy-MM-dd hh:mm:ss');
}

function updateStatus(){
	var status=$("#status").val();
	//console.log('id',id,'status,',status);
	$.ajax({
		type:"POST",
		url:'/UserAdmin/taskStatusSaveJson?nd='+new Date().getTime(),
		data:{'id':id,'status':status},
		success:function(result){
			////console.log(result);
			document.getElementById('statusTips').innerHTML=result.msg;
			getTaskLogsDatas(id,1,5);
		}
	});
}

function showUpdateStatus(){
	//console.log('show');
	$("#adminViewUpdateStatus").attr("class","adminViewUpdateStatus");
}

var addFileCount=0;
function addFile(){
	var fileStr='<div class="adminEditRow" id="fileRow'+addFileCount+'">';
	fileStr+='<div class="adminEditLable"></div>';
	fileStr+='<div class="adminEditInput"><input class="adminInput250X20" type="file" name="files" id="file'+addFileCount+'"/>&nbsp;&nbsp;<a href="#" onclick="delFile('+addFileCount+');">-删除</a></div>';
	fileStr+='</div>';
	var str=$("#fileRows").html();
	str+=fileStr;
	$("#fileRows").html(str);
	addFileCount++;
}
function delFile(i){
	$("#fileRow"+i).html('');
	$("#fileRow"+i).attr("class","adminEditRowNone");
}
</script>
<div class="adminViewCon">
	<div class="adminViewRow">
		<div class="adminViewName" id="name"></div>
		<div class="adminViewStatus" id="statusView"></div><a href="#" onclick="javascript:goBack();">返回</a>
	</div>
	<div class="adminViewRow">
		<div class="adminViewDes" id="des"></div>
	</div>
</div>

<div class="adminViewCon">
	<div class="adminViewRow">
		<div class="adminViewFiles">
			<img src="/public/images/taskClient/file_rar.gif" width="20" height="20">&nbsp;<a href="/UserAdmin/files?taskGroupId=${taskGroupId}&status=${status}&taskId=${id}">查看文件</a>
		</div>
		<div id="updateStatus" class="adminViewUpdateStatusLableNone">
			<a href="#" onclick="javascript:showUpdateStatus();">更改状态</a>
		</div>
		<div class="adminViewUpdateStatusNone" id="adminViewUpdateStatus">
			:&nbsp;<select onchange="updateStatus();" class="adminInput100X22" id="status">
				<option value="1">待初稿</option>
				<option value="2">待审核</option>
				<option value="3">待确稿</option>
				<option value="4">待评价</option>
			</select>
		</div>
		<div class="adminViewUpdateStatusTips" id="statusTips"></div>
	</div>
</div>	
<br>

<div class=adminEditConNone id="addTaskLog">
	<form id="formA" action="/UserAdmin/taskLogSaveJson" method="post" enctype="multipart/form-data">
	<input type="hidden" id="taskGroupId" name="taskGroupId" value="${taskGroupId}">
	<input type="hidden" id="taskStatus" name="taskStatus" value="${status}">
	<input type="hidden" id="taskId" name="taskId" value="${id}">
		<div class="adminEditRow">
			<div class="adminEditLable">处理:</div>
			<input class="adminInput250X20" type="text" name="cont" id="cont">
		</div>
		<div class="adminEditRow">
			<div class="adminEditLable">附件:</div>
			<div class="adminEditInput"><input class="adminInput250X20" type="file" name="files" id="file"/>&nbsp;&nbsp;<a href="#" onclick="addFile();">&nbsp;</a></div>
		</div>
		<div class="adminEditRowFiles" id="fileRows">
		</div>
		<div class="adminEditRow">
			<a href="#" onclick="javascript:save();">保存</a>&nbsp;&nbsp;&nbsp;<span class="tips" id="tips"></span>
		</div>
	</form>
</div>
<div class="adminViewConLog" id="list">
</div>
<div id="pages" class="adminPages">
</div>



