#{extends 'UserAdminMain.html' /}
#{set title:'网站后台'/}
<script>
var id=${id};
var status="1";
//console.log('id:',id);
$(document).ready(function(e) {
	getData(id);
	getTaskLogsDatas(id,1,5);
});
function getData(id){
	$.ajax({
		type:'POST',
		url:'/UserAdmin/taskJson?id='+id+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log(result);
			var task=result.task;
			$("#name").html(task.name);
			$("#image").html(task.image);
			$("#status").val(task.status);
			$("#des").html(task.des);
			status=task.status;
		}
	});
}


function getTaskLogsDatas(taskId,page,length){
	$.ajax({
		type:'POST',
		url:'/UserAdmin/taskLogsJson?taskId='+taskId+'&page='+page+'&length='+length+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			////console.log(result);
			var list=result.list;
			var listStr='<table class="borderClass" width="500">';
			for(var i=0;i<list.length;i++){
				//console.log(list[i]);
				var taskLog=list[i];
				var row='';
				row+='<tr><td colspan="2" class="borderClass">'+taskLog.cont+'</td>';
				var filesStr='';
				if(taskLog.files!=null&&taskLog.files.indexOf("-")!=-1){
					var fileArr=taskLog.files.split("-");
					if(fileArr.length==2){
						filesStr='<a href="'+fileArr[1]+'" target=_blank">'+fileArr[0]+'</a>';
					}
				}
				row+='<td rowspan="2" class="borderClass" width="150">'+filesStr+'</td></tr>';
				row+='<tr><td class="borderClass">'+formatTime(taskLog.time);+'</td>';
				row+='<td class="borderClass"><div id="taskLogName'+taskLog.id+'"></div></td>';
				row+='</tr>';
				listStr+=row;
				getUserData(taskLog.id,taskLog.userId);
			}
			listStr+='</table>';
			$("#list").html(listStr);
			//
			var total=result.total;
			var length=result.length;
			var page=result.page;
			var pages='记录数:'+total+'&nbsp;分页:';
			////console.log(total/length);
			for(var i=1;i<total/length+1;i++){
				if(i!=page){
					pages+='<a href="#" onclick="javascript:getTaskLogsDatas('+id+','+i+','+length+');">'+i+'</a>&nbsp;';
				}else{
					pages+='['+i+']';
				}
			}
			$("#pages").html(pages);
		}
	});
}

function getUserData(logId,userId){
	$.ajax({
		type:'POST',
		url:'/SysAdmin/userJson?id='+userId+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log(result);
			var user=result.user;
			$("#taskLogName"+logId).html(user.name);
		}
	});
}

function save(){
	//console.log('save,id:',id);
	$("formA").submit();
	/* var taskId=id;
	var cont=$("#cont").val();
	var files=$("#files").val();
	$.ajax({
		type:"POST",
		url:'/UserAdmin/taskLogSaveJson?nd='+new Date().getTime(),
		data:{'taskId':taskId,'cont':cont,'files':files},
		success:function(result){
			////console.log(result);
			//document.getElementById('tips').innerHTML=result.msg;
			window.location.href='/UserAdmin/taskView?id='+id;
		}
	}); */
}

function goBack(){
	window.location.href='/UserAdmin/tasks?status='+status;
}

function formatTime(cellvalue){
	var d=new Date(cellvalue);
	return d.format('yy-MM-dd hh:mm:ss');
}

function updateStatus(){
	var status=$("#status").val();
	//console.log('id',id,'status,',status);
	$.ajax({
		type:"POST",
		url:'/UserAdmin/taskStatusSaveJson?nd='+new Date().getTime(),
		data:{'id':id,'status':status},
		success:function(result){
			////console.log(result);
			document.getElementById('statusTips').innerHTML=result.msg;
		}
	});
}

</script>
<br>
<table class="borderClass" width="500">
<tr><td width="60">任务名称:</td><td><div id="name"></div></td></tr>
<tr><td>图片:</td><td><div id="image"></div></td></tr>
<tr><td>描述:</td><td><div id="des"></div></td></tr>
</table>
<a href="#">更新状态</a>&nbsp;&nbsp;<select onchange="updateStatus();" class="adminInput100X22" id="status">
<option value="1">待初稿</option>
<option value="2">待审核</option>
<option value="3">待确稿</option>
<option value="4">待评价</option>
<option value="5">已完成</option>
</select>
&nbsp;<span id="statusTips"></span>&nbsp;&nbsp;<a href="#">查看文件</a>&nbsp;&nbsp;

<br>
进度处理:<br>
<form id="formA" action="/UserAdmin/taskLogSaveJson" method="post" enctype="multipart/form-data">
<input type="hidden" id="taskId" name="taskId" value="${id}">
<table class="borderClass" width="500">
<tr><td width="60">处理:</td><td><input class="adminInput250X20" type="text" name="cont" id="cont"></td></tr>
<tr><td>文件:</td><td><input class="adminInput250X20" type="file" name="file" id="file"/></td></tr>
<tr><td colspan="2"><button onclick="javascript:save();" class="adminAddBtn">保存</button>&nbsp;&nbsp;<a href="#" onclick="javascript:goBack();">返回</a>&nbsp;<span id="tips"></span></td></tr>
</table>
</form>

<br>
进度跟踪:<br>
<div id="list">
</div>
<div id="pages">
</div>



