#{extends 'UserAdminMain.html' /}
#{set title:'网站后台'/}
<script>
var id=${id};
//console.log('id:',id);
var msg='${msg}';
$(document).ready(function(e) {
	if(id!=0){
		getData(id);
	}
	if(msg!=null&&msg!=''){
		$("#tips").html(msg);
	}
});
function getData(id){
	$.ajax({
		type:'POST',
		url:'/SysAdmin/taskGroupJson?id='+id+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log(result);
			var taskGroup=result.taskGroup;
			$("#name").val(taskGroup.name);
			if(taskGroup.image!=null&&taskGroup.image.indexOf("-")!=-1){
				var filesStr='';
				var fileArr=taskGroup.image.split("-");
				if(fileArr.length==2){
					filesStr='<a href="'+fileArr[1]+'" target=_blank">'+fileArr[0]+'</a>';
				}
				$("#fileView").html(filesStr);
				$("#fileView").attr("class","adminEditRowFile");
			}
			
		}
	});
}


//////////
function save(){
	var name=$("#name").val();
	if(name==''){
		alert('客户名称不能为空!');
		return false;
	}else{
		$("#formA").submit();
	}
}

</script>
<div class="adminEditCon">
<form id="formA" action="/UserAdmin/taskGroupSaveJson" method="post" enctype="multipart/form-data">
<input type="hidden" id="id" name="id" value="${id}">
	<div class="adminEditRow">
		<div class="adminEditLable">项目名称:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="text" name="name" id="name"></div>
	</div>
	<div class="adminEditRow">
		<div class="adminEditLable">图片:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="file" name="file" id="file"/>&nbsp;建议:长300px宽80px</div>
	</div>
	<div class="adminEditRowFileNone" id="fileView">
	</div>
	<div class="adminEditRow">
		<a href="#" onclick="javascript:save();">保存</a>&nbsp;&nbsp;&nbsp;<a href="/UserAdmin/taskGroups">返回</a>&nbsp;&nbsp;<span class="tips" id="tips"></span>
	</div>
</form>
</div>


