#{extends 'UserAdminMain.html' /}
#{set title:'网站后台'/}
<script>
var id=${id};
//console.log('id:',id);
var userId=${userInfo.userId};
var taskGroupId=${taskGroupId};
var msg='${msg}';
$(document).ready(function(e) {
	getTaskGroupData(taskGroupId);
	if(id!='0'){
		getData(id);
	}
	if(msg!=null&&msg!=''){
		$("#tips").html(msg);
	}
});

function getTaskGroupData(id){
	$.ajax({
		type:'POST',
		url:'/UserAdmin/taskGroupJson?id='+id+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log(result);
			var taskGroup=result.taskGroup;
			$("#taskGroupName").html(taskGroup.name);
		}
	});
}

function getData(id){
	$.ajax({
		type:'POST',
		url:'/UserAdmin/taskJson?id='+id+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log(result);
			var task=result.task;
			$("#name").val(task.name);
			$("#status").val(task.status);
			$("#des").val(task.des);
			//$("#image").val(task.image);
			var filesStrA=task.image;
			if(filesStrA!=undefined&&filesStrA!=''&&filesStrA.indexOf("-")!=-1){
				var fileArrA=filesStrA.split("-");
				if(fileArrA.length==2){
					filesStr='<a href="'+fileArrA[1]+'" target=_blank">'+fileArrA[0]+'</a>';
					$("#fileStr1").val(filesStrA);
				}
				$("#fileView").html(filesStr);
				$("#fileView").attr("class","adminEditRowFile");
			}
		}
	});
}


//////////
/* function save(){
	//console.log('save,id:',id);
	var name=$("#name").val();
	if(name==''){
		alert('任务名称不能为空!');
		return false;
	}
	var status=$("#status").val();
	var image="";
	var des=$("#des").val();
	$.ajax({
		type:"POST",
		url:'/UserAdmin/taskSaveJson?nd='+new Date().getTime(),
		data:{'id':id,'name':name,'image':image,'taskGroupId':taskGroupId,'status':status,'des':des},
		success:function(result){
			//console.log(result);
			if(result.code==100){
				id=result.task.id;
				//console.log('id:',id);
			}
			document.getElementById('tips').innerHTML=result.msg;
		}
	});
} */

function save(){
	var name=$("#name").val();
	if(name==''){
		alert('项目名称不能为空!');
		return false;
	}else{
		$("#formA").submit();
	}
}

function goBack(){
	var status=$("#status").val();
	window.location.href='/UserAdmin/tasks?taskGroupId=${taskGroupId}&status='+status;
}
</script>
<div class="adminEditCon">
<form id="formA" action="/UserAdmin/taskSaveJson" method="post" enctype="multipart/form-data">
<input type="text" id="id" name="id" value="${id}">
<input type="text" id="taskGroupId" name="taskGroupId" value="${taskGroupId}">
	<div class="adminEditRow">
	<div class="adminEditLable">所属项目:</div>
		<div class="adminEditInput" id="taskGroupName"></div>
	</div>
	<div class="adminEditRow">
		<div class="adminEditLable">任务名称:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="text" name="name" id="name"></div>
	</div>
	<div class="adminEditRowNone">
		<div class="adminEditLable">状态:</div>
		<div class="adminEditInput"><select class="adminInput250X25" id="status" name="status"">
		<option value="1">待初稿</option>
		<option value="2">待审核</option>
		<option value="3">待确稿</option>
		<option value="4">待评价</option>
		</select></div>
	</div>
	<div class="adminEditRowH45">
		<div class="adminEditLable">描述:</div>
		<div class="adminEditInputH45"><textarea rows="2" cols="32" name="des" id="des"></textarea></div>
	</div>
	<div class="adminEditRow">
		<div class="adminEditLable">图片:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="file" name="file" id="file"/>&nbsp;建议:长30px宽30px</div>
	</div>
	<div class="adminEditRowFileNone" id="fileView">
	</div>
	<div class="adminEditRow">
	<a href="#" onclick="javascript:save();" >保存</a>&nbsp;&nbsp;<a href="#" onclick="javascript:goBack();">返回</a>&nbsp;&nbsp;<span class="tips" id="tips"></span>
	</div>
</form>
</div>

