#{extends 'UserAdminMain.html' /}
#{set title:'网站后台'/}
<script>
var id=${id};
var status="1";
//console.log('id:',id);
$(document).ready(function(e) {
	getData(id);
	getTaskLogsDatas(id,1,5);
});
function getData(id){
	$.ajax({
		type:'POST',
		url:'/UserAdmin/taskJson?id='+id+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log(result);
			var task=result.task;
			$("#name").html(task.name);
			$("#image").html(task.image);
			$("#des").html(task.des);
			status=task.status;
		}
	});
}


function getTaskLogsDatas(taskId,page,length){
	$.ajax({
		type:'POST',
		url:'/UserAdmin/taskLogsJson?taskId='+taskId+'&page='+page+'&length='+length+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			////console.log(result);
			var list=result.list;
			var listStr='<table class="borderClass">';
			for(var i=0;i<list.length;i++){
				//console.log(list[i]);
				var taskLog=list[i];
				var row='';
				row+='<tr><td colspan="2" class="borderClass">'+taskLog.cont+'</td>';
				row+='<td rowspan="2" class="borderClass"><a href="http://www.xxx.xxx/xxx.jpg">初稿.jpg</a><br><a href="http://www.xxx.xxx/xxx.doc">会议记录.doc</a></td></tr>';
				row+='<tr><td class="borderClass">'+formatTime(taskLog.time);+'</td>';
				row+='<td><div id="taskLogName'+taskLog.id+'"></div></td>';
				row+='</tr>';
				listStr+=row;
				getUserData(taskLog.id,taskLog.userId);
			}
			listStr+='</table>';
			$("#list").html(listStr);
			//
			var total=result.total;
			var length=result.length;
			var page=result.page;
			var pages='记录数:'+total+'&nbsp;分页:';
			////console.log(total/length);
			for(var i=1;i<total/length+1;i++){
				if(i!=page){
					pages+='<a href="#" onclick="javascript:getTaskLogsDatas('+id+','+i+','+length+');">'+i+'</a>&nbsp;';
				}else{
					pages+='['+i+']';
				}
			}
			$("#pages").html(pages);
		}
	});
}

function getUserData(logId,userId){
	$.ajax({
		type:'POST',
		url:'/SysAdmin/userJson?id='+userId+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log(result);
			var user=result.user;
			$("#taskLogName"+logId).html(user.name);
		}
	});
}

function save(){
	//console.log('save,id:',id);
	var taskId=id;
	var cont=$("#cont").val();
	var files=$("#files").val();
	$.ajax({
		type:"POST",
		url:'/UserAdmin/taskLogSaveJson?nd='+new Date().getTime(),
		data:{'taskId':taskId,'cont':cont,'files':files},
		success:function(result){
			////console.log(result);
			//document.getElementById('tips').innerHTML=result.msg;
			window.location.href='/UserAdmin/taskView?id='+id;
		}
	});
}

function goBack(){
	window.location.href='/UserAdmin/tasks?status='+status;
}

function formatTime(cellvalue){
	var d=new Date(cellvalue);
	return d.format('yy-MM-dd hh:mm:ss');
}

</script>

<table class="borderClass">
<tr><td class="borderClass">任务名称:</td><td><div id="name"></div></td></tr>
<tr><td class="borderClass">图片:</td><td><div id="image"></div></td></tr>
<tr><td class="borderClass">描述:</td><td><div id="des"></div></td></tr>
</table>
<a href="#">更新状态</a>&nbsp;&nbsp;<a href="#">查看文件</a>&nbsp;&nbsp;
<br>
进度跟踪:<br>
<div id="list">
</div>
<div id="pages">
</div>
<br>
进度处理:<br>
<table class="borderClass">
<tr><td class="borderClass">处理:</td><td><input type="text" name="cont" id="cont"></td></tr>
<tr><td class="borderClass">文件:</td><td><input type="text" name="files" id="files"></td></tr>
<tr><td colspan="2"><a href="#" onclick="javascript:save();">保存</a>&nbsp;<a href="#" onclick="javascript:goBack();">返回</a>&nbsp;<div id="tips"></div></td></tr>
</table>


