#{extends 'UserAdminMain.html' /}
#{set title:'网站后台'/}
<script>
var userId=${userInfo.userId};
var userType=${userInfo.userType};
var taskGroupId=${taskGroupId};
$(document).ready(function(e) {
	getDatas(taskGroupId,1,7);
	getTaskGroupData(taskGroupId);
});
function getDatas(taskGroupId,page,length){
	$.ajax({
		type:'POST',
		url:'/UserAdmin/usersJson?page='+page+'&length='+length+'&groupId='+taskGroupId+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			////console.log(result);
			var list=result.list;
			var listStr='<div class="adminListRow700">';
			listStr+='<div class="adminListCell30HeadNo"></div>';
			listStr+='<div class="adminListCell100">用户</div>';
			listStr+='<div class="adminListCell120">手机号</div>';
			listStr+='<div class="adminListCell180">邮箱</div>';
			listStr+='<div class="adminListCell120">电话</div>';
			listStr+='<div class="adminListCell120">备注</div>';
			listStr+='</div>';
			for(var i=0;i<list.length;i++){
				//console.log(list[i]);
				var user=list[i];
				var row='';
				if(user.image!=null&&user.image.indexOf("-")!=-1){
					var filesStr='';
					var fileArr=user.image.split("-");
					if(fileArr.length==2){
						filesStr='<img src="'+fileArr[1]+'">';
					}
					row+='<div class="adminListCell30Head">'+filesStr+'</div>';
				}else{
					row+='<div class="adminListCell30HeadNo"></div>';
				}
				row+='<div class="adminListCell100">'+user.name+'</div>';
				row+='<div class="adminListCell120">'+user.mobile+'</div>';
				row+='<div class="adminListCell180">'+user.email+'</div>';
				row+='<div class="adminListCell120">'+user.phone+'</div>';
				row+='<div class="adminListCell120">'+user.des+'</div>';
				listStr+='<div class="adminListRow700">'+row+'</div>';
			}
			$("#list").html(listStr);
			//
			var total=result.total;
			var length=result.length;
			var page=result.page;
			var pages='记录数:'+total+'&nbsp;分页:';
			////console.log(total/length);
			for(var i=1;i<total/length+1;i++){
				if(i!=page){
					pages+='&nbsp;<a href="#" onclick="javascript:getDatas('+taskGroupId+','+i+','+length+');">'+i+'</a>&nbsp;';
				}else{
					pages+='<span class="current">'+i+'</span>';
				}
			}
			$("#pages").html(pages);
		}
	});
}

function getTaskGroupData(id){
	$.ajax({
		type:'POST',
		url:'/UserAdmin/taskGroupJson?id='+id+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log(result);
			var taskGroup=result.taskGroup;
			$("#taskGroupName").html('<strong>'+taskGroup.name+'</strong>&nbsp;的通信录.');
		}
	});
}
function selectByTaskGroupId(){
	taskGroupId=$("#taskGroupId").val();
	getDatas(taskGroupId,1,7);
}

</script>

<div id="add" class="adminAddCon">
<div id="taskGroupName" class="adminTaskGroupCon"></div>
</div>

<div id="list" class="adminListCon">
</div>

<div id="pages" class="adminPages">
</div>


