#{extends 'UserAdminMain.html' /}
#{set title:'网站后台'/}
<script>
$(document).ready(function(e) {
	getDatas(1,3);
});
function getDatas(page,length){
	$.ajax({
		type:'POST',
		url:'/UserAdmin/usersJson?page='+page+'&length='+length+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			////console.log(result);
			var list=result.list;
			var listStr='<table class="borderClass"><tr><td class="borderClass">用户</td><td class="borderClass">手机</td><td class="borderClass">邮箱</td><td class="borderClass">电话</td></tr>';
			for(var i=0;i<list.length;i++){
				//console.log(list[i]);
				var user=list[i];
				var row='';
				if(user.name){
					row+='<td class="borderClass">'+user.name+'</td>';
				}else{
					row+='<td class="borderClass"></td>';
				}
				row+='<td class="borderClass">'+user.mobile+'</td>';
				if(user.email){
					row+='<td class="borderClass">'+user.email+'</td>';
				}else{
					row+='<td class="borderClass"></td>';
				}
				if(user.phone){
					row+='<td class="borderClass">'+user.phone+'</td>';
				}else{
					row+='<td class="borderClass"></td>';
				}
				listStr+='<tr>'+row+'</tr>';
			}
			listStr+='</table>';
			$("#list").html(listStr);
			//
			var total=result.total;
			var length=result.length;
			var page=result.page;
			var pages='记录数:'+total+'&nbsp;分页:';
			////console.log(total/length);
			for(var i=1;i<total/length+1;i++){
				if(i!=page){
					pages+='<a href="#" onclick="javascript:getDatas('+i+','+length+');">'+i+'</a>&nbsp;';
				}else{
					pages+='['+i+']';
				}
			}
			$("#pages").html(pages);
		}
	});
}

</script>
<div id="list">
</div>
<div id="pages">
</div>

