#{extends 'UserAdminMain.html' /}
#{set title:'网站后台'/}
<script>
$(document).ready(function(e) {
		getData();
});

function getData(){
	$.ajax({
		type:'POST',
		url:'/UserAdmin/userMeJson?nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log(result);
			var user=result.user;
			$("#name").val(user.name);
			$("#mobile").val(user.mobile);
			$("#email").val(user.email);
			$("#phone").val(user.phone);
			//$("#image").val(user.image);
			$("#des").val(user.des);
			
			if(user.image!=null&&user.image.indexOf("-")!=-1){
				var filesStr='';
				var fileArr=user.image.split("-");
				if(fileArr.length==2){
					filesStr='<img src="'+fileArr[1]+'">';
				}
				$("#fileView").html(filesStr);
				$("#fileView").attr("class","adminEditRowFile");
			}
		}
	});
}

//////////
function save(){
	var name=$("#name").val();
	var mobile=$("#mobile").val();
	if(name==''||mobile==''){
		alert('姓名,手机号不能为空!');
		return false;
	}
	$("#formA").submit();
}

</script>

<div class="adminEditCon">
<form id="formA" action="/UserAdmin/userSaveJson" method="post" enctype="multipart/form-data">
	<div class="adminEditRow">
		<div class="adminEditLable">手机号码:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="text" name="mobile" id="mobile" readonly>(不能修改)</div>
	</div>
	<div class="adminEditRow">
		<div class="adminEditLable">姓名</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="text" name="name" id="name"></div>
	</div>
	<div class="adminEditRow">
		<div class="adminEditLable">密码:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="password" name="password" id="password">(不修改，请留空)</div>
	</div>
	<div class="adminEditRow">
		<div class="adminEditLable">邮箱:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="text" name="email" id="email"></div>
	</div>
	<div class="adminEditRow">
		<div class="adminEditLable">电话:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="text" name="phone" id="phone"></div>
	</div>
	<div class="adminEditRow">
		<div class="adminEditLable">头像:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="file" name="file" id="file"/>&nbsp;建议:长30px宽30px</div>
	</div>
	<div class="adminEditRowFileNone" id="fileView">
	</div>
	<div class="adminEditRow">
		<div class="adminEditLable">备注:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="text" name="des" id="des"></div>
	</div>
	<div class="adminEditRow">
		<a href="#" onclick="javascript:save();">保存</a>&nbsp;&nbsp;<span id="tips"></span>
	</div>
</form>
</div>


