body{
	margin:0;
	padding:0; 
	margin-top:0px;
	font-size:14px;
	font-family: '微软雅黑'! important;
}

a:link{text-decoration:none;font-weight:normal;font-size:14px;color:#000000;}
a:visited{text-decoration:none;font-weight:normal;font-size:14px;color:#000000;}
a:hover{text-decoration:none;font-weight:normal;font-size:14px;color:#000000;}
a:active{text-decoration:none;font-weight:normal;font-size:14px;color:#000000;}

.borderClass{
border:1px #cccccc solid;
}

/*loginCss***************/

.loginTop{
	margin-top:0px;
	overflow:hidden;
	width:100%;
	height:220px;
	background:url("../images/taskClient/loginTop.png");
}

.loginDiv{
margin: 0 auto;
margin-top:10px;
width: 320px;	
}

.loginMsg{
height: 35px;
width: 320px;
margin-bottom: 10px;
font-size: 16px;
color:red;
}

.loginMobile{
height: 35px;
width: 320px;
margin-bottom: 20px;
font-size: 16px;
}
.loginPassword{
height: 35px;
width: 320px;
margin-bottom: 10px;
font-size: 16px;
}

.loginBtn{
height: 35px;
width: 320px;
margin-bottom: 10px;
font-size: 16px;
color: #fff;
background-color: #03a9f4;
border-color: #0398db;
}
/**adminCss****************/
.skyConAdminTop{
	margin: 0 auto;
	margin-top: 0px;
	overflow:hidden;
	height:70px;
	width:100%;
	background:url("../images/taskClient/adminTop.png");
}

.skyConLeftMenu{
	width:130px;
	height:500px;
	padding-top:10px;
	border-right:1px #cccccc solid;
	background-color:#efefef;
}
.skyConLeftMenu ul {
	list-style:none;
	margin:0px;
	padding:0px;
} 
.skyConLeftMenu ul li {
	line-height:25px;
} 
.skyConLeftMenu ul li a{
	color:#333;
	font-size: 14px;
	font-weight:bold;
}  

.skyConRight{
	float: left;
	margin-top:0px;
	margin-left:0px;
	width:80%;
}

.skyConRightCon{
	float: left;
	width:100%;
}
.skyConRightCopy{
	float: left;
	width:100%;
}


.skyConAdminTopText{
	float:left;
	margin-left:50px;
	padding-top:36px;
	height:70px;
	width:200px;
	font-weight:blod;
	font-size:16px;
	color:#fff;
}
.skyCon{
	margin: 0 auto;
	margin-top: 0px;
	overflow:hidden;
	width:100%;
}

.skyConLeft{
	float: left;
	margin-left:0px;
	padding-top:0px;
	text-align:center;
	width:150px;
	height:560px;
}

/****adminList*********/
.adminAddCon{
float:left;
margin-top:10px;
margin-left:0px;
overflow:hidden;
width:900px;
height:30px;
}
.adminAddPng{
float:left;
margin-left:0px;
margin-top:8px;
overflow:hidden;
width:16px;
height:16px;
background:url("../images/taskClient/add.png");
}
.adminViewPic{
float:left;
margin-left:0px;
margin-top:5px;
overflow:hidden;
width:16px;
height:16px;
}
.adminEditPic{
float:left;
margin-left:10px;
margin-top:0px;
overflow:hidden;
width:16px;
height:16px;
}
.adminTaskGroupCon{
float:left;
margin-left:5px;
margin-top:5px;
overflow:hidden;
width:260px;
height:50px;
}
.adminTaskGroupConNone{
float:left;
margin-left:5px;
margin-top:5px;
overflow:hidden;
display:none;
width:260px;
height:50px;
}
.adminAddTxt{
float:left;
margin-left:5px;
margin-top:5px;
overflow:hidden;
width:30px;
height:50px;
}
.adminTitleTxt{
float:left;
margin-left:5px;
margin-top:5px;
overflow:hidden;
font-weight:bold;
width:250px;
height:50px;
}



.adminListCon{
float:left;
overflow:hidden;
margin-top:0px;
margin-left:0px;
width:900px;
}

.adminListRow{
float:left;
overflow:hidden;
margin-left:0px;
margin-top:5px;
border-bottom:1px #cccccc solid;
width:500px;
height:35px;
}
.adminListRow700{
float:left;
margin-left:0px;
margin-top:5px;
border-bottom:1px #cccccc solid;
width:700px;
}
.adminListRow750{
float:left;
margin-left:0px;
margin-top:5px;
border-bottom:1px #cccccc solid;
width:750px;
}

.adminListCell30{
float:left;
margin-left:0px;
overflow:hidden;
width:30px;
height:30px;
background:url("../images/taskClient/t.png");
}
.adminListCell30Head{
float:left;
margin-left:0px;
overflow:hidden;
width:30px;
height:30px;
}
.adminListCell30HeadNo{
float:left;
margin-left:0px;
overflow:hidden;
width:30px;
height:30px;
background:url("../images/taskClient/noHead.png");
}
.adminListCell30C{
float:left;
margin-left:0px;
overflow:hidden;
width:30px;
height:30px;
background:url("../images/taskClient/c.png");
}

.adminListCell370{
float:left;
margin-left:0px;
overflow:hidden;
padding-left:10px;
padding-top:5px;
width:360px;
height:20px;
}
.adminListCell100{
float:left;
margin-left:0px;
padding-left:10px;
padding-top:5px;
width:90px;
}
.adminListCell150{
float:left;
margin-left:0px;
padding-left:10px;
padding-top:5px;
width:140px;
}
.adminListCell220{
float:left;
margin-left:0px;
padding-left:10px;
padding-top:5px;
width:215px;
}
.adminListCell180{
float:left;
margin-left:0px;
padding-left:10px;
padding-top:5px;
width:175px;
}
.adminListCell120{
float:left;
margin-left:0px;
padding-left:10px;
padding-top:5px;
width:115px;
}
.adminListCell80{
float:left;
margin-left:0px;
padding-left:10px;
padding-top:5px;
width:70px;
}

.adminListCell250{
float:left;
margin-left:0px;
padding-left:10px;
padding-top:5px;
width:240px;
}

.adminPages{
float:left;
text-align:left;
margin-top:10px;
margin-left:0px;
width:900px;
height:30px;
}

.adminPages A{
BORDER-RIGHT: #aaaadd 1px solid;
PADDING-RIGHT: 5px;
BORDER-TOP: #aaaadd 1px solid;
PADDING-LEFT: 5px;
PADDING-BOTTOM: 2px;
MARGIN: 2px;
BORDER-LEFT: #aaaadd 1px solid;
COLOR: #000099;
PADDING-TOP: 2px;
BORDER-BOTTOM: #aaaadd 1px solid;
TEXT-DECORATION: none;
}

.adminPages SPAN.current {
BORDER-RIGHT: #000099 1px solid;
PADDING-RIGHT: 5px;
BORDER-TOP: #000099 1px solid;
PADDING-LEFT: 5px;
FONT-WEIGHT: bold;
PADDING-BOTTOM: 2px;
MARGIN: 2px;
BORDER-LEFT: #000099 1px solid;
COLOR: #fff;
PADDING-TOP: 2px;
BORDER-BOTTOM: #000099 1px solid;
BACKGROUND-COLOR: #000099;
}


/****adminEdit**********/
.adminEditCon{
float:left;
overflow:hidden;
margin-top:10px;
margin-left:0px;
width:900px;
}
.adminEditRow{
float:left;
overflow:hidden;
margin-top:10px;
margin-left:0px;
width:900px;
height:30px;
}
.adminEditRowNone{
float:left;
overflow:hidden;
margin-top:10px;
margin-left:0px;
display:none;
width:900px;
height:30px;
}
.adminEditRowFiles{
float:left;
margin-top:10px;
margin-left:0px;
width:900px;
}
.adminEditRowH45{
float:left;
overflow:hidden;
margin-top:10px;
margin-left:0px;
width:900px;
height:45px;
}
.adminEditRowTaskGroups{
float:left;
margin-top:10px;
margin-left:0px;
width:900px;
height:30px;
}
.adminEditRowFile{
float:left;
overflow:hidden;
margin-top:0px;
margin-left:0px;
width:900px;
height:30px;
}
.adminEditRowFileNone{
float:left;
overflow:hidden;
margin-top:0px;
margin-left:0px;
display:none;
width:900px;
height:30px;
}
.adminEditLable{
float:left;
overflow:hidden;
margin-top:0px;
margin-left:0px;
width:70px;
height:30px;
}
.adminEditInput{
float:left;
overflow:hidden;
margin-top:0px;
margin-left:0px;
width:500px;
height:30px;
}
.adminEditInputH45{
float:left;
overflow:hidden;
margin-top:0px;
margin-left:0px;
width:500px;
height:45px;
}
.adminEditInputTaskGroups{
float:left;
margin-top:0px;
margin-left:0px;
width:500px;
height:30px;
}

/*****adminView*****/

.adminViewCon{
float:left;
overflow:hidden;
margin-top:10px;
margin-left:0px;
width:900px;
}
.adminViewRow{
float:left;
margin-left:0px;
width:900px;
}
.adminViewRowLine{
float:left;
margin-left:0px;
margin-top:5px;
margin-bottom:5px;
width:350px;
height:2px;
border-bottom:1px #cccccc solid;
}
.adminViewName{
float:left;
overflow:hidden;
margin-left:0px;
width:300px;
font-weight:bold;
}
.adminViewStatus{
float:left;
overflow:hidden;
margin-left:10px;
width:100px;
}
.adminViewTaskLogCont{
float:left;
margin-left:0px;
width:350px;
}
.adminViewTaskLogContChangeStatus{
float:left;
margin-left:0px;
width:350px;
color:red;
}
.adminViewTaskLogTime{
float:left;
margin-left:0px;
width:150px;
color:#aaaaaa;
}
.adminViewTaskLogUserName{
float:left;
margin-left:0px;
width:100px;
}
.adminViewDes{
float:left;
margin-left:0px;
width:300px;
}

.adminViewFiles{
float:left;
overflow:hidden;
margin-left:0px;
width:80px;
}
.adminViewUpdateStatusLable{
float:left;
overflow:hidden;
margin-left:0px;
width:60px;
}
.adminViewUpdateStatus{
float:left;
overflow:hidden;
margin-left:0px;
width:120px;
}
.adminViewUpdateStatusNone{
float:left;
overflow:hidden;
display:none;
margin-left:0px;
width:120px;
}

.adminViewUpdateStatusTips{
float:left;
overflow:hidden;
margin-left:0px;
width:60px;
}


.tips{
color:red;	
}

/*********old***/
.adminAddBtn{
height: 25px;
width: 50px;
font-size: 14px;
color: #000;
background-color:eeeeee;
border-color: #eeeeee;
}



.adminListRowTop{
float:left;
overflow:hidden;
margin-left:0px;
width:900px;
font-weight:bold;
overflow:hidden;
}
.adminListCell{
float:left;
overflow:hidden;
margin-left:0px;
margin-top:10px;
padding-left:3px;
padding-top:3px;
padding-bottom:3px;
border-bottom:1px #dddddd solid;
width:100px;
overflow:hidden;
}


.adminListCellTop{
float:left;
overflow:hidden;
margin-left:0px;
padding-left:3px;
padding-top:3px;
padding-bottom:3px;
border-top:1px #dddddd solid;
border-bottom:1px #dddddd solid;
width:100px;
overflow:hidden;
}
.adminListCellTop300{
float:left;
overflow:hidden;
margin-left:0px;
padding-left:3px;
padding-top:3px;
padding-bottom:3px;
border-left:1px #dddddd solid;
border-top:1px #dddddd solid;
border-bottom:1px #dddddd solid;
width:300px;
overflow:hidden;
}

.adminListCellTopEnd{
float:left;
overflow:hidden;
margin-left:0px;
padding-left:3px;
padding-top:3px;
padding-bottom:3px;
border-left:1px #dddddd solid;
border-right:1px #dddddd solid;
border-top:1px #dddddd solid;
border-bottom:1px #dddddd solid;
width:100px;
overflow:hidden;
}
.adminListCellEnd{
float:left;
overflow:hidden;
margin-left:0px;
padding-left:3px;
padding-top:3px;
padding-bottom:3px;
border-bottom:1px #dddddd solid;
width:100px;
overflow:hidden;
}

.adminListCellTop250{
float:left;
overflow:hidden;
margin-left:0px;
padding-left:3px;
padding-top:3px;
padding-bottom:3px;
border-top:1px #dddddd solid;
border-bottom:1px #dddddd solid;
border-left:1px #dddddd solid;
width:250px;
overflow:hidden;
}

.adminInput250X20{
width:250px;
height:20px;
border:1px #cccccc solid;
}
.adminInput250X25{
width:250px;
height:25px;
border:1px #cccccc solid;
}
.adminInput100X22{
width:100px;
height:22px;
border:1px #cccccc solid;
}

.addTxtAdd{
font-size: 20px;
font-weight:bold;
color: #000;
}
.addTxt{
font-size: 14px;
font-weight:bold;
color: #000;
}
/***************/



/*************/
.skySearchPara{
	float:left;
	height:30px;
	width:100%;
	overflow:hidden;
}
.skyDataTable{
	float:left;
	width:100%;
	overflow:hidden;
}
/********edit*******/

.dialog_title {
margin-top:10px;
margin-bottom:10px;
padding-bottom:5px;
font-size: 14px;
border-bottom:#cccccc 1px solid;
font-weight:bold;
color: #333;
}
.dialog_titleAd {
margin-top:10px;
margin-bottom:10px;
padding-bottom:5px;
font-size: 14px;
border-bottom:#cccccc 1px solid;
font-weight:bold;
color: #333;
display:none;
}
.dialog_input {
line-height: 32px;
padding-bottom:10px;
font-size: 14px;
font-family: 'microsoft yahei';
color: #333;
}
.input_item {
position: relative;
margin-bottom: 5px;
}
.input_item_none {
position: relative;
margin-bottom: 5px;
display:none;
}

label{
float: left;
width:70px;
line-height:25px;
} 
.input_label{
display: block;
font-weight: bold;
float: left;
color: #666;
}

.dialog_input .input_s {
width: 145px;
height: 22px;
border: #d1d1d1 1px solid;
background: #fff;
}
.dialog_input .input_s2 {
width: 160px;
height: 22px;
border: #d1d1d1 1px solid;
background: #fff;
}
.dialog_input .input_s3 {
width: 180px;
height: 22px;
border: #d1d1d1 1px solid;
background: #fff;
}
.dialog_input .input_s3_readonly {
width: 180px;
height: 22px;
border: #d1d1d1 1px solid;
background: #fff;
color:#cccccc;
}
.dialog_input .input_s4 {
width: 200px;
height: 22px;
border: #d1d1d1 1px solid;
background: #fff;
}
.dialog_input .input_s5 {
width: 250px;
height: 22px;
border: #d1d1d1 1px solid;
background: #fff;
}

.dialog_input .input_s_readonly {
width: 145px;
height: 22px;
border: #d1d1d1 1px solid;
background: #fff;
color:#cccccc;
}


.dialog_ft{
height:30px;
padding:10px;
position:relative;
}
.dialog_tools{
padding-right:10px;
padding-bottom:10px;
position:relative;
}
.dialog_ft_tips{
height:53px;
padding:10px;
position:relative;
}
.dialog_ft .mod_btn_red {
margin:5px;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
background-color: #ca1e05;
color: #fff;
cursor: pointer;
font-size: 17px;
}
.dialog_ft .mod_btn_up {
margin:0px;
padding-left:11px;
padding-right:11px;
padding-top:3px;
padding-bottom:3px;
background-color: #505050;
color: #fff;
cursor: pointer;
font-size: 15px;
}
.dialog_tools .mod_btn_tools {
margin:0px;
padding-left:5px;
padding-right:5px;
padding-top:3px;
padding-bottom:3px;
background-color: #505050;
color: #fff;
cursor: pointer;
font-size: 15px;
}
.dialog_ft .mod_btn_gray {
margin:5px;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:3px;
background-color: #505050;
color: #ffffff;
cursor: pointer;
font-size: 17px;
}
.dialog_ft .mod_btn_tips {
margin:5px;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
color: #ca1e05;
font-size: 15px;
}


