<!DOCTYPE html>
<html>
   <head>
       <title>登录</title>
       <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/admin.css'}">
       <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
       <script src="@{'/public/javascripts/jquery/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
       <script src="@{'/public/javascripts/sky-common-1.1.js'}" type="text/javascript" charset="${_response_encoding}"></script>
   </head>
<body>

<script>
function login(){
	var flag=true;
	var mobile=$("#mobile").val();
	var password=$("#password").val();
	if(mobile==''||password==''){
		$("#msg").html("请输入用户,密码!");
		flag=false;
	}
	if(flag){
		$("#msg").html("正在登录...");
		$.ajax({
			type:'POST',
			url:'/login/login?nd='+new Date().getTime(),
			data:{'mobile':mobile,'password':password}, //发送数据
			error:function(err){
				////console.log(err);
			},
			success:function(result){
				////console.log(result);
				if(result.code==100){
					$("#msg").html("登录成功,正在跳转...");
					if(result.user.type==1){
						window.location.href='/SysAdmin/index';
					}else{
						window.location.href='/UserAdmin/index';
					}
				}else{
					$("#msg").html(result.msg);
				}
			}
		});
	}
}
</script>
<div class="loginTop">
</div>
<div class="loginDiv">
<div id="msg" class="loginMsg"></div>
<input type="text" name="mobile" id="mobile" placeholder="手机号" class="loginMobile">
<input type="password" name="password" id="password" placeholder="密码" class="loginPassword">
<button onclick="javascript:login();" class="loginBtn">提交</button>
</div>


   </body>
</html>
