#{extends 'SysAdminMain.html' /}
#{set title:'网站后台'/}
<script>
var id=${id};
//console.log('id:',id);
$(document).ready(function(e) {
	if(id!=0){
		getData(id);
	}
});
function getData(page,length){
	$.ajax({
		type:'POST',
		url:'/SysAdmin/taskGroupJson?id='+id+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log(result);
			var taskGroup=result.taskGroup;
			$("#name").val(taskGroup.name);
			$("#image").val(taskGroup.image);
		}
	});
}


//////////
function save(){
	//console.log('save,id:',id);
	var name=$("#name").val();
	var image=$("#image").val();
	$.ajax({
		type:"POST",
		url:'/SysAdmin/taskGroupSaveJson?nd='+new Date().getTime(),
		data:{'id':id,'name':name,'image':image},
		success:function(result){
			////console.log(result);
			document.getElementById('tips').innerHTML=result.msg;
		}
	});
}

</script>
<br>
<table class="borderClass">
<tr><td>客户:</td><td><input class="adminInput250X20" type="text" name="name" id="name"></td></tr>
<tr><td>图片:</td><td><input class="adminInput250X20" type="text" name="image" id="image"></td></tr>
<tr><td colspan="2"><button onclick="javascript:save();" class="adminAddBtn">保存</button>&nbsp;&nbsp;<a href="/SysAdmin/taskGroups">返回</a>&nbsp;&nbsp;<span id="tips"></span></td></tr>
</table>


