#{extends 'SysAdminMain.html' /}
#{set title:'网站后台'/}
<script>
$(document).ready(function(e) {
	getDatas(1,5);
});
function getDatas(page,length){
	$.ajax({
		type:'POST',
		url:'/SysAdmin/taskGroupsJson?page='+page+'&length='+length+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			////console.log(result);
			var list=result.list;
			var listStr='<div class="adminListRowTop">';
			listStr+='<div class="adminListCellTop300">客户</div>';
			listStr+='<div class=adminListCellTopEnd>操作</div>';
			listStr+='</div>';
			for(var i=0;i<list.length;i++){
				//console.log(list[i]);
				var taskGroup=list[i];
				var row='';
				row+='<div class="adminListCell300">'+taskGroup.name+'</div>';
				row+='<div class="adminListCellEnd">';
				row+='<a href="/SysAdmin/taskGroup?id='+taskGroup.id+'">编辑</a>&nbsp;&nbsp;';
				row+='<a href="#" onclick="javascript:del('+taskGroup.id+');">删除</a>&nbsp;';
				row+='</div>';
				listStr+='<div class="adminListRow">'+row+'</div>';
			}
			$("#list").html(listStr);
			//
			var total=result.total;
			var length=result.length;
			var page=result.page;
			var pages='记录数:'+total+'&nbsp;分页:';
			////console.log(total/length);
			for(var i=1;i<total/length+1;i++){
				if(i!=page){
					pages+='&nbsp;<a href="#" onclick="javascript:getDatas('+i+','+length+');">'+i+'</a>&nbsp;';
				}else{
					pages+='['+i+']';
				}
			}
			$("#pages").html(pages);
		}
	});
}

function del(id){
	//console.log('del:',id);
	$.ajax({
		type:'POST',
		url:'/SysAdmin/taskGroupDelJson?id='+id+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			alert(result.msg);
			getDatas(1,3);
		}
	});
}

function goAdd(){
	window.location.href='/SysAdmin/taskGroup?id=0';
}
</script>
<div id="add" class="adminAddCon">
<button onclick="javascript:goAdd();" class="adminAddBtn">添加</button>
</div>

<div id="list" class="adminListCon">
</div>

<div id="pages" class="adminPages">
</div>

