#{extends 'SysAdminMain.html' /}
#{set title:'网站后台'/}
<script>
$(document).ready(function(e) {
	getDatas(1,10);
});
function getDatas(page,length){
	$.ajax({
		type:'POST',
		url:'/SysAdmin/usersJson?page='+page+'&length='+length+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			////console.log(result);
			var list=result.list;
			var listStr='<div class="adminListRowTop">';
			listStr+='<div class="adminListCellTop">用户</div>';
			listStr+='<div class="adminListCellTop">类型</div>';
			listStr+='<div class="adminListCellTop">登录名(手机号)</div>';
			listStr+='<div class="adminListCellTop">邮箱</div>';
			listStr+='<div class="adminListCellTop">电话</div>';
			listStr+='<div class="adminListCellTop250">所属客户</div>';
			listStr+='<div class=adminListCellTopEnd>操作</div>';
			listStr+='</div>';
			for(var i=0;i<list.length;i++){
				//console.log(list[i]);
				var user=list[i];
				var row='';
				row+='<div class="adminListCell">'+user.name+'</div>';
				row+='<div class="adminListCell">'+getType(user.type)+'</div>';
				row+='<div class="adminListCell">'+user.mobile+'</div>';
				row+='<div class="adminListCell">'+user.email+'</div>';
				row+='<div class="adminListCell">'+user.phone+'</div>';
				row+='<div class="adminListCell250"><div id="taskGroup'+user.id+'">-</div></div>';
				row+='<div class="adminListCellEnd">';
				row+='<a href="/SysAdmin/user?id='+user.id+'">编辑</a>&nbsp;&nbsp;';
				row+='<a href="#" onclick="javascript:del('+user.id+');">删除</a>';
				row+='</div>';
				listStr+='<div class="adminListRow">'+row+'</div>';
				//数据处理
				if(user.taskGroupIds){
					getTaskGroupByUserId(user.id);
				}
			}
			$("#list").html(listStr);
			//
			var total=result.total;
			var length=result.length;
			var page=result.page;
			var pages='记录数:'+total+'&nbsp;分页:';
			////console.log(total/length);
			for(var i=1;i<total/length+1;i++){
				if(i!=page){
					pages+='&nbsp;<a href="#" onclick="javascript:getDatas('+i+','+length+');">'+i+'</a>&nbsp;';
				}else{
					pages+='['+i+']';
				}
			}
			$("#pages").html(pages);
		}
	});
}

function getType(type){
	var re='';
	if(type==1){
		re='管理员';
	}else if(type==2){
		re='内部员工';
	}else if(type==3){
		re='一般用户';
	}
	return re;
}

function getTaskGroupByUserId(userId){
	$.ajax({
		type:'POST',
		url:'/SysAdmin/taskGroupsByUserIdJson?userId='+userId+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log('groups:',result);
			var taskGroups='';
			var list=result.list;
			for(var i=0;i<list.length;i++){
				//console.log(list[i]);
				var taskGroup=list[i];
				//console.log('name:'+taskGroup.name);
				taskGroups+=taskGroup.name+',';
			}
			if(taskGroups.length>16){
				taskGroups=taskGroups.substring(0,16)+'...';
			}
			$("#taskGroup"+userId).html(taskGroups);
		}
	});
}

function del(id){
	//console.log('del:',id);
	$.ajax({
		type:'POST',
		url:'/SysAdmin/userDelJson?id='+id+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			alert(result.msg);
			getDatas(1,3);
		}
	});
}

function goAdd(){
	window.location.href='/SysAdmin/user?id=0';
}
</script>

<div id="add" class="adminAddCon">
<button onclick="javascript:goAdd();" class="adminAddBtn">添加</button>
</div>

<div id="list" class="adminListCon">
</div>

<div id="pages" class="adminPages">
</div>

