#{extends 'SysAdminMain.html' /}
#{set title:'网站后台'/}
<script>
var id=${id};
//console.log('id:',id);
$(document).ready(function(e) {
	if(id!=0){
		getData(id);
	}
	allTaskGroupsJson();
});

function getData(id){
	$.ajax({
		type:'POST',
		url:'/SysAdmin/userJson?id='+id+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log(result);
			var user=result.user;
			$("#name").val(user.name);
			$("#mobile").val(user.mobile);
			$("#type").val(user.type);
			$("#email").val(user.email);
			$("#phone").val(user.phone);
			//$("#image").val(user.image);
			//$("#taskGroupIds").val(user.taskGroupIds);
			$("#des").val(user.des);
			
			if(user.image!=null&&user.image.indexOf("-")!=-1){
				var filesStr='';
				var fileArr=user.image.split("-");
				if(fileArr.length==2){
					//filesStr='<a href="'+fileArr[1]+'" target=_blank">'+fileArr[0]+'</a>';
					filesStr='<img src="'+fileArr[1]+'">';
				}
				$("#fileView").html(filesStr);
				$("#fileView").attr("class","adminEditRowFile");
			}
			
		}
	});
}


function getTaskGroupByUserId(userId){
	$.ajax({
		type:'POST',
		url:'/SysAdmin/taskGroupsByUserIdJson?userId='+userId+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log('groups:',result);
			var taskGroups='';
			var list=result.list;
			for(var i=0;i<list.length;i++){
				//console.log(list[i]);
				var taskGroup=list[i];
				//console.log('nameOne:'+taskGroup.name);
				 $("#taskGroup"+taskGroup.id).attr("checked",true);
				//taskGroups+=taskGroup.name+',';
			}
		}
	});
}
function allTaskGroupsJson(){
	$.ajax({
		type:'POST',
		url:'/SysAdmin/allTaskGroupsJson?nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log('groups:',result);
			var taskGroups='';
			var list=result.list;
			for(var i=0;i<list.length;i++){
				//console.log(list[i]);
				var taskGroup=list[i];
				//console.log('name:'+taskGroup.name);
				taskGroups+='<input type="checkbox" name="taskGroup" id="taskGroup'+taskGroup.id+'" value="'+taskGroup.id+'">'+taskGroup.name;
			}
			$("#taskGroupCon").html(taskGroups);
			if(id!=0){
				getTaskGroupByUserId(id);
			}
		}
	});
}

//////////
function save(){
	//console.log('save,id:',id);
	var name=$("#name").val();
	var mobile=$("#mobile").val();
	var password=$("#password").val();
	if(name==''||mobile==''){
		alert('姓名,手机号不能为空!');
		return false;
	}
	if(id==0&&password==''){
		alert('密码不能为空!');
		return false;
	}
	var taskGroupIds=getTaskGroupIds();
	$("#taskGroupIds").val(taskGroupIds);
	var userType=$("#type").val();
	
	if(userType==3){
		var taskGroupIdsArr=taskGroupIds.split(",");
		//console.log(taskGroupIdsArr.length);
		if(taskGroupIdsArr.length>3){
			alert('一般员工只能关联一个客户!')
		}else{
			$("#formA").submit();
		}
	}else{
		$("#formA").submit();
	}
}

function getTaskGroupIds(){    
	  var obj=document.getElementsByName('taskGroup');  //选择所有name="'test'"的对象，返回数组    
	  //取到对象数组后，我们来循环检测它是不是被选中    
	  var s=',';    
	  for(var i=0; i<obj.length; i++){    
	    if(obj[i].checked) s+=obj[i].value+',';  //如果选中，将value添加到变量s中    
	  }    
	 return s;
}
</script>
<div class="adminEditCon">
<form id="formA" action="/SysAdmin/userSaveJson" method="post" enctype="multipart/form-data">
<input type="hidden" id="id" name="id" value="${id}">
<input type="hidden" id="taskGroupIds" name="taskGroupIds">
	<div class="adminEditRow">
		<div class="adminEditLable">姓名:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="text" name="name" id="name"></div>
	</div>
	<div class="adminEditRow">
		<div class="adminEditLable">手机号码:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="text" name="mobile" id="mobile">#{if id!='0'}(手机号不能修改)#{/if}</div>
	</div>
	<div class="adminEditRow">
		<div class="adminEditLable">密码:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="password" name="password" id="password">(不修改，请留空)</div>
	</div>
	<div class="adminEditRow">
		<div class="adminEditLable">类型:</div>
		<div class="adminEditInput"><select class="adminInput250X25"  name="type" id="type">
						<option value="3">一般员工</option>
						<option value="2">内部员工</option>
						<option value="1">管理员</option>
					</select></div>
	</div>
	<div class="adminEditRow">
		<div class="adminEditLable">邮箱:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="text" name="email" id="email"></div>
	</div>	
	<div class="adminEditRow">
		<div class="adminEditLable">电话:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="text" name="phone" id="phone"></div>
	</div>	
	<div class="adminEditRow">
		<div class="adminEditLable">头像:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="file" name="file" id="file"/>&nbsp;建议:长30px宽30px</div>
	</div>
	<div class="adminEditRowFileNone" id="fileView">
	</div>
	<div class="adminEditRowTaskGroups">
		<div class="adminEditLable">所属客户:</div>
		<div class="adminEditInputTaskGroups"><div id="taskGroupCon"></div></div>
	</div>	
	<div class="adminEditRow">
		<div class="adminEditLable">备注:</div>
		<div class="adminEditInput"><input class="adminInput250X20" type="text" name="des" id="des"></div>
	</div>	
	<div class="adminEditRow">
		<a href="#" onclick="javascript:save();">保存</a>&nbsp;&nbsp;&nbsp;<a href="/SysAdmin/users">返回</a>&nbsp;&nbsp;<span id="tips"></span>
	</div>
</form>
</div>


