#{extends 'SysAdminMain.html' /}
#{set title:'网站后台'/}
<script>
$(document).ready(function(e) {
	getDatas(1,7);
});
function getDatas(page,length){
	$.ajax({
		type:'POST',
		url:'/SysAdmin/usersJson?page='+page+'&length='+length+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			////console.log(result);
			var list=result.list;
			var listStr='<div class="adminListRow750">';
			listStr+='<div class="adminListCell30HeadNo"></div>';
			listStr+='<div class="adminListCell100">姓名</div>';
			listStr+='<div class="adminListCell100">类型</div>';
			listStr+='<div class="adminListCell150">手机(登录名)</div>';
			listStr+='<div class="adminListCell250">关联客户</div>';
			listStr+='<div class="adminListCell80">操作</div>';
			listStr+='</div>';
			
			for(var i=0;i<list.length;i++){
				//console.log(list[i]);
				var user=list[i];
				var row='';
				if(user.image!=null&&user.image.indexOf("-")!=-1){
					var filesStr='';
					var fileArr=user.image.split("-");
					if(fileArr.length==2){
						filesStr='<img src="'+fileArr[1]+'">';
					}
					row+='<div class="adminListCell30Head">'+filesStr+'</div>';
				}else{
					row+='<div class="adminListCell30HeadNo"></div>';
				}
				row+='<div class="adminListCell100">'+user.name+'</div>';
				row+='<div class="adminListCell100">'+getType(user.type)+'</div>';
				row+='<div class="adminListCell150">'+user.mobile+'</div>';
				row+='<div class="adminListCell250"><div id="taskGroup'+user.id+'">-</div></div>';
				row+='<div class="adminListCell80">';
				row+='<div class="adminEditPic"><a href="/SysAdmin/user?id='+user.id+'" title="编辑"><img src="/public/images/taskClient/edit.png" border="0"></a></div>';
				row+='<div class="adminEditPic"><a href="#" onclick="javascript:del('+user.id+');" title="删除"><img src="/public/images/taskClient/del.png" border="0"></a></div>';
				row+='</div>';
				listStr+='<div class="adminListRow750">'+row+'</div>';
				//数据处理
				if(user.taskGroupIds){
					getTaskGroupByUserId(user.id);
				}
			}
			$("#list").html(listStr);
			//
			var total=result.total;
			var length=result.length;
			var page=result.page;
			var pages='记录数:'+total+'&nbsp;分页:';
			////console.log(total/length);
			for(var i=1;i<total/length+1;i++){
				if(i!=page){
					pages+='&nbsp;<a href="#" onclick="javascript:getDatas('+i+','+length+');">'+i+'</a>&nbsp;';
				}else{
					pages+='<span class="current">'+i+'</span>';
				}
			}
			$("#pages").html(pages);
		}
	});
}

function getType(type){
	var re='';
	if(type==1){
		re='管理员';
	}else if(type==2){
		re='内部员工';
	}else if(type==3){
		re='一般用户';
	}
	return re;
}

function getTaskGroupByUserId(userId){
	$.ajax({
		type:'POST',
		url:'/SysAdmin/taskGroupsByUserIdJson?userId='+userId+'&nd='+new Date().getTime(),
		error:function(err){
			////console.log(err);
		},
		success:function(result){
			//console.log('groups:',result);
			var taskGroups='';
			var list=result.list;
			for(var i=0;i<list.length;i++){
				//console.log(list[i]);
				var taskGroup=list[i];
				//console.log('name:'+taskGroup.name);
				taskGroups+=taskGroup.name+',';
			}
			if(taskGroups.length>16){
				taskGroups=taskGroups.substring(0,16)+'...';
			}
			$("#taskGroup"+userId).html(taskGroups);
		}
	});
}

function del(id){
	//console.log('del:',id);
	var conf = confirm("您确定要删除？");
  	if(conf == true) {
		$.ajax({
			type:'POST',
			url:'/SysAdmin/userDelJson?id='+id+'&nd='+new Date().getTime(),
			error:function(err){
				////console.log(err);
			},
			success:function(result){
				//alert(result.msg);
				getDatas(1,7);
			}
		});
  	}
}

function goAdd(){
	window.location.href='/SysAdmin/user?id=0';
}
</script>

<div id="add" class="adminAddCon">
<div class="adminAddPng"></div>
<div class="adminAddTxt"><a href="#" onclick="javascript:goAdd();"><font class="addTxt">添加</font></a></div>
</div>


<div id="list" class="adminListCon">
</div>

<div id="pages" class="adminPages">
</div>

