#{extends 'recbMain.html' /}
#{set title:'RECB' /}	
<div class="skyAboutMidA">
</div>

<div class="skyAboutMidB">
	<div class="skyAboutMidB1">
		<img src="@{'/public/images/recb/about1.png'}" border="0">
	</div>
	<div class="skyAboutMidB2">
		  <div class="skyAboutMidB21">
		  	<font class="skyAboutMidB21Text">天猫搜索RECB减震(特约经销商:<br></font>
				<a href="http://recb.tmall.com/index.htm?spm=a1z10.1.w5002-8156636925.7.lDUUF3" target="_blank"><font class="skyAboutMidB21Text">RECB汽车用品旗舰店(天猫),recb减震,德越汽车用品)</font></a>
		  </div>
	</div>
	<div class="skyAboutMidB3">
		<img src="@{'/public/images/recb/about3.png'}" border="0">
	</div>
</div>