<!DOCTYPE html>
<html>
   <head>
       <title>#{get 'title' /}</title>
       <meta charset="${_response_encoding}">
       <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/admin.css'}">
       #{get 'moreStyles' /}
       <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
       <script src="@{'/public/javascripts/jquery/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
       <script src="@{'/public/javascripts/sky-common-1.1.js'}" type="text/javascript" charset="${_response_encoding}"></script>
       #{get 'moreScripts' /}
   </head>
   <body>
   <div class="skyConAdminTop">
	   <div class="skyConAdminTopText">
	   		用户后台${userInfo.userType}
	   </div>
   </div>
   <div class="skyCon">
	 		 	<div class="skyConLeft">
		 	<div class="skyConLeftMenu">
		 		<ul>
		 			#{if userInfo.userType=='1'||userInfo.userType=='2'}
		 			<li>
			 			<a href="/UserAdmin/taskGroups">项目管理</a>
			 		</li>
		 			#{/if}
		 			#{if taskGroupId!=null}
			 		<li>
			 			<a href="/UserAdmin/tasks?taskGroupId=${taskGroupId}&status=1">#{if status=='1'}[#{/if}待初稿#{if status=='1'}]#{/if}</a>
			 		</li>
			 		<li>
			 			<a href="/UserAdmin/tasks?taskGroupId=${taskGroupId}&status=2">#{if status=='2'}[#{/if}待审核#{if status=='2'}]#{/if}</a>
			 		</li>
			 		<li>
			 			<a href="/UserAdmin/tasks?taskGroupId=${taskGroupId}&status=3">#{if status=='3'}[#{/if}待修改#{if status=='3'}]#{/if}</a>
			 		</li>
			 		<li>
			 			<a href="/UserAdmin/tasks?taskGroupId=${taskGroupId}&status=4">#{if status=='4'}[#{/if}待确稿#{if status=='4'}]#{/if}</a>
			 		</li>
			 		<li>
			 			<a href="/UserAdmin/tasks?taskGroupId=${taskGroupId}&status=5">#{if status=='5'}[#{/if}待评价#{if status=='5'}]#{/if}</a>
			 		</li>
			 		<li>
			 			<a href="/UserAdmin/users?taskGroupId=${taskGroupId}">通信录</a>
			 		</li>
			 		#{/if}
			 		#{if userInfo.userType=='1'}
			 		<li>
			 			<a href="/UserAdmin/adminUsers">用户管理</a>
			 		</li>
			 		#{/if}
			 		<li>
			 			<a href="/UserAdmin/user">个人设置</a>
			 		</li>
			 		<li>
			 			<a href="/login/logout">退出</a>
			 		</li>
		 		</ul>
		 	</div>
	 	</div>
	 	<div class="skyConRight">
	 		<div class="skyConRightCon">
	      		#{doLayout /}
	 		</div>
	 		<div class="skyConRightCopy">
	 		<!-- 	@copy 180sky.com -->
	 		</div>
	 	</div>
  	</div>
   </body>
</html>
